<% layout("layout/page") %>

<% include partial/svgPartial %>
<% include partial/svg_copy/svgPartialCopy %>

<script src="components/Button.js"></script>
<script src="components/Building.js"></script>
<script src="components/TableColor.js"></script>

<!--<div id="fb-root"></div>  &lt;!&ndash;Поделиться в facebook&ndash;&gt;-->
<!--<script>(function(d, s, id) {-->
        <!--var js, fjs = d.getElementsByTagName(s)[0];-->
        <!--if (d.getElementById(id)) return;-->
        <!--js = d.createElement(s); js.id = id;-->
        <!--js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";-->
        <!--fjs.parentNode.insertBefore(js, fjs);-->
    <!--}(document, 'script', 'facebook-jssdk'));</script>-->
<!--<script type="text/javascript" src="https://vk.com/js/api/share.js?94" charset="windows-1251"></script>-->
<!--<script src="components/main.js"></script>-->

<!-- Ulogin -->
<!--<div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,odnoklassniki,mailru,facebook;hidden=other;redirect_uri=localhost%3A3000%2Fsocket;mobilebuttons=0;callback=preview;"></div>-->
<div id="authorization"></div>
<button id="exitButton" onclick="exitFromAccount()"> Выйти </button>
<button id="getSvgButton" onclick="getSvg()"> Сохранить svg </button>
<button id="getCurrentStateButton" onclick="getCurrentState()"> Запуск чего-то </button>
<button id="clearingButton" onclick="clearFilling()"> Очистить картинку </button>
<button id="fillUserImage" onclick="fillUserImage()"> Получить свою картинку </button>
<!--<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Поделиться</a></div>-->
<!-- Put this script tag to the place, where the Share button will be -->
<!--<script type="text/javascript">-->
    <!--document.write(VK.Share.button(true,{type: "round", text: "Поделиться"}));-->
<!--</script>-->

<br/><br/>
<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
<div class="ya-share2" data-services="collections,vkontakte,facebook,odnoklassniki,moimir"></div>
<br/><br/><br/>

<script>

    function clearFilling(){
        var mainCopy = document.getElementById("main");
        var length = mainCopy.children.length;
        for (var i = 0; i < length; i++) {
            mainCopy.children[i].setAttribute('fill', "");
        }
    }
</script>

<script>
    var socket = io();
    var Building = myApp.Building;
    var building = new Building('#main');
    var building2 = new Building('#main_copy');

    var Button = myApp.Button;
    var button = new Button('#hideColors', '.table');

    var uloginParameters = "";
    var currentState = "";

    var data = "firstTime";
    socket.emit('client message', data);
    showUloginOrAutorization();

    (function () {
        var TableColor = myApp.TableColor;

        var tableColor = new TableColor('.table');

        tableColor.onColorSelected(function (color) {
            building.setColor(color);
            building.onElementSelected(function (elem) {
                var objForSending = {
                    id: elem.id,
                    color : color,
                    first_name: uloginParameters.first_name,
                    last_name: uloginParameters.last_name,
                    uid: uloginParameters.uid
                };
                data = JSON.stringify(objForSending);
                socket.emit('client message', data);
            });

        });
    })();

    socket.on('server message', function(msg) {
        if(msg == "") return;

        if(Array.isArray(msg)) {
            runFirstTimeClient(msg);
            return;
        }

        msg = JSON.parse(msg);
        building.fillElement(msg.id, msg.color);
    });

    function runFirstTimeClient(msg){
        for(let m of msg){
            m = JSON.parse(m);
            building.fillElement(m.id, m.color);
        }
    }

    function getUloginParameters(myData){
        uloginParameters = myData;
        console.log(uloginParameters);
    }

    function preview(token){
        $.getJSON("//ulogin.ru/token.php?host=" + encodeURIComponent(location.toString()) + "&token=" + token + "&callback=?", function(data){
            data = $.parseJSON(data.toString());
            getUloginParameters(data);
            sendAuthorizationInfo(data);
            $('.ulogin-buttons-container').attr("style", "display: none");
            $('#authorization').attr("style", "display: block");
            $('#authorization').html("<h5>Здравствуйте, " + data.first_name + ' ' + data.last_name + "<br/>Ваш uid:" + data.uid + "</h5>");
            $('#exitButton').attr("style", "display: block");
        });
    }

    function sendAuthorizationInfo(data){
        $.ajax({
            url: "/socket",
            method: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function(xhr){
                console.log("Ajax has succeeded");
            },
            error: function(xhr){
                console.log("Some ajax errors");
            }
        })
        return false;
    }

    function showUloginOrAutorization(){
        if("<%- uid%>" == ""){
            $('body').append('<div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,odnoklassniki,mailru,facebook;redirect_uri=localhost%3A3000%2Fsocket;mobilebuttons=0;callback=preview;"></div>');
            //$('.ulogin-buttons-container').attr("style", "display: none");
        }else {
            $('#authorization').html("<h5>Здравствуйте, <%-firstName + ' ' + lastName%><br/>Ваш uid: <%-uid%></h5>");
            $('#exitButton').attr("style", "display: block");
        }
    }

    function exitFromAccount(){
        $.ajax({
            url: "/removeSession",
            method: "POST",
            data: "",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function(xhr){
                console.log("Ajax has succeeded");
            },
            error: function(xhr){
                console.log("Some ajax errors");
            }
        })
        location.reload();
        return false;
    }


    function getSvg(){
        //get svg element.
        var svg = document.getElementById("main_copy");
        //console.log(svg);

        //get svg source.
        var serializer = new XMLSerializer();
        var source = serializer.serializeToString(svg);
        console.log(source);
    }

    function setCurrentState(currState){
        currentState = currState;
    }

    function getCurrentState(){
        $.ajax({
            url: "/currentState",
            method: "POST",
            data: "",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function(xhr){
                setCurrentState(xhr);
                console.log("Ajax has succeeded");
            },
            error: function(xhr){
                console.log("Some ajax errors");
            }
        })
        console.log(currentState);
        return false;
    }

    function fillUserImage() { //получает картинку текущего пользователя
        getCurrentState();
        //console.log(currentState);
        //currentState = JSON.parse(currentState);
        clearFilling();
        setTimeout(function(){
            for (var obj of currentState) {
                obj = JSON.parse(obj);
                if (uloginParameters.uid == obj.uid) {
                    building2.fillElement(obj.id, obj.color);  //поменять building
                }
            }
        }, 1000); //можно увеличить таймер, если вдруг не успеет принять данные с сервера

        getSvg();
    }

</script>