<% layout("layout/page") %>
<% include partial/svgPartial %>

<script src="components/Building.js"></script>
<script src="components/TableColor.js"></script>
<!--<script src="components/main.js"></script>-->

<!-- Ulogin -->
<div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,odnoklassniki,mailru,facebook;hidden=other;redirect_uri=localhost%3A3000%2Fsocket;mobilebuttons=0;callback=preview;"></div>
<!-- end -->


<script>
    var socket = io();
    var Building = myApp.Building;
    var building = new Building('#main');

    var uloginParameters = "";
    var currentState = "";

    var data = "firstTime";
    socket.emit('client message', data);

    (function () {
        var TableColor = myApp.TableColor;

        var tableColor = new TableColor('.table');

        tableColor.onColorSelected(function (color) {
            building.setColor(color);
            building.onElementSelected(function (elem) {
                alert("Закрасил " + uloginParameters.first_name);
                var objForSending = {
                    id: elem.id,
                    color : color
                };
                data = JSON.stringify(objForSending);

                socket.emit('client message', data);

            });

        });
    })();

    socket.on('server message', function(msg) {
        if(msg == "") return;

        if(Array.isArray(msg)) {
            runFirstTimeClient(msg);
            return;
        }

        msg = JSON.parse(msg);
        building.fillElement(msg.id, msg.color);
    });

    function runFirstTimeClient(msg){
        for(let m of msg){
            m = JSON.parse(m);
            building.fillElement(m.id, m.color);
        }
    }

    function getUloginParameters(myData){
        uloginParameters = myData;
    }

    function preview(token){
        $.getJSON("//ulogin.ru/token.php?host=" + encodeURIComponent(location.toString()) + "&token=" + token + "&callback=?", function(data){
            data = $.parseJSON(data.toString());
            getUloginParameters(data);
        });
    }
</script>